<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head.ejs') %>

<body>
  <!-- WRAPPER -->
	<div id="wrapper">
		<%- include('../includes/navbar.ejs') %>
        <%- include('../includes/sidebar.ejs') %>
        <div>
            <!-- Page Content -->
            <input type="hidden" name="title" value="">
            <input type="hidden" name="category" value="">
            <input type="hidden" name="min_price" value="">
            <input type="hidden" name="max_price" value="">
            <input type="hidden" name="content" value="">
            <input type="hidden" name="id" value="">

            <!-- Bootstrap core JavaScript -->
            <script src="/vendor/jquery/jquery.min.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        </div>
	</div>
</body>

</html>
