<!doctype html>
<html lang="en">

<%- include('./includes/head.ejs') %>

<body>
	<!-- WRAPPER -->
<div id="wrapper">
	<%- include('./includes/navbar.ejs') %>
	<%- include('./includes/sidebar.ejs') %>
	<!-- MAIN -->
	<div class="main">
                







    </div>
</div>
</body>
</html>