<!doctype html>
<html lang="en">

<%- include('./includes/head.ejs') %>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <%- include('../includes/navbar.ejs') %>
        <!-- MAIN -->
        <div class="main">
            <div class="main-content">
                <div class="container-fluid">
                    <div class="panel panel-headline">
                        <div class="panel-heading">
                            <img src="/img/404ERR.png" alt="404ERR">
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div>없는 페이지입니다 .</div>
                                <div class="col-md-6 text-right"><a href="/home" class="btn btn-primary">홈으로 돌아가기</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="/vendor/chartist/js/chartist.min.js"></script>
    <script src="/scripts/klorofil-common.js"></script>
</body>

</html>