<!doctype html>
<html lang="en">

<%- include('../includes/head.ejs') %>

<head>

</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<%- include('../includes/navbar.ejs') %>
		<%- include('../includes/sidebar.ejs') %>
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">

				<div class="container-fluid">
					<h3 class="page-title">알림장</h3>
					<div class="dropup">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							반선택
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">햇님반</a>
							<a class="dropdown-item" href="#">달님반</a>
							<a class="dropdown-item" href="#">별님반</a>
							<a class="dropdown-item" href="#">꽃님반</a>
						</div>
					</div>
					<div align="right">
						<a href="/"><button class="btn btn-primary">글쓰기</button></a>
					</div>
					<div class="panel panel-headline">
						<div class="panel-body">
							<div class="panel-body no-padding">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th class="text-center col-sm-2">NO.</th>
											<th class="text-center col-sm-2">날짜</th>
											<th class="text-center col-sm-6">제목</th>
											<th class="text-center col-sm-2">작성자</th>
										</tr>
									</thead>
									<tbody>
										<!-- 여기부터 -->
										<tr>
											<td class="text-center">ㄹㄴㅇ</td>
											<td class="text-center">ㄹㄴㅇㄹㄴㅇ</a></td>
											<td class="text-left">ㄹㄴㅇ</td>
											<td class="text-center">ㄹㄴㅇ</td>
										</tr>
										<tr style="padding: 50px;">
											<td class="text-left" colspan="4" style="padding: 50px;">여기에 글쓸꺼임</td>
										</tr>
										<!-- 여기까지 ejs 묵어야함 -->
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/scripts/klorofil-common.js"></script>
</body>

</html>